@CHARSET "utf-8"; 

/* 공통 부분 */
body {
	margin: 0px;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #000000;
}

#nav {
	width: 100%;
	height: 146px;
	border-bottom: 3px solid #F2F4F4;
	max-width: 1250px;
	margin: 0px 180px;
}

#nav ul {
	list-style: none;
	padding-top: 60px;
	padding-left: 180px;
	margin-top: 0px;
}

#nav ul li {
	display: inline;
	letter-spacing: 10px;
	padding: 20px;
	text-transform: uppercase;
}

#nav ul li a {
	text-decoration: none;
	font-size: 25px;
	color: #000000;
}

#nav ul li a:hover {
	text-decoration: underline;
	color: red;
}
 
#content {
	width: 70%; height: 1200px;
	padding-top: 80px; padding-left: 55px;
	margin-left: 250px;
}

#footer {
	width: 100%;
	height: 146px;
	border-top: 3px solid #F2F4F4;
	max-width: 1400px;
	margin: 0px 250px;
	clear: both;
}

#content table th a, #content table td a {
	text-decoration: none;
	color: #000000;
}

#home {
	float: right; margin-top: 14px;
	margin-right: 20%;
}

#home a {
	font-size: 18px; color: white;
	text-decoration: none;
	cursor: pointer;
}

#header #logo {
	width: 100px; height: 50px;
	cursor: pointer; margin-left: 17%;
}

/* 회원 목록 */
#manageList {
	padding-right: 10px;
}

#manageList table {
	width: 100%; 
}

#managePage {
	width: 100%; margin-top: 50px;
}

#manageSearch {
margin-bottom: 30px;
}

#keyword {
	width: 300px;
}

.paginate {
	width:100%; height:20px; text-align:center; 
	vertical-align:top; font-size:14px;
}  

.paginate span .textAn {
	vertical-align:top;
}  

.paginate a.on {
	color:#FF3300;
} 

/* 상세 페이지 */

#manageDetail table {
	width: 100%; padding:0px; border:1px solid #000000;
    border-bottom:0px; border-left:0px;
}

#manageDetail td {
	padding:5px; border-bottom:1px solid #000000;
    border-left:1px solid #000000;
}

#content #manageBtn {
	width: 100%; text-align: right; margin-top: 15px;
}

.ac {
	text-align:center; background-color: #ebebeb; font-weight:bold;
} 

#manageDetail .ctr{
	height:150px; 
	text-align:center; background-color: #ebebeb; font-weight:bold;
} 