@CHARSET "utf-8";

	
	
	#boardTit{width:650px; text-align:center; font-size:14px; font-weight:bold;}
	
	
	/* 게시판 입력 화면 */
	#boardWrite{width:650px; padding:0px; border:1px solid #000000; border-bottom:0px;}	
	#boardDetail{width:95%; padding-left: 50px}
	.ac{background-color: #EAEAEA; text-align: center; font-weight: bold;}
	.ctr{height: 400px;}
