@CHARSET "utf-8"; 

/* 공통 부분 */
body {
	margin: 0px;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #000000;
}

#nav {
	width: 100%;
	height: 146px;
	border-bottom: 3px solid #F2F4F4;
	max-width: 1250px;
	margin: 0px 180px;
}

#nav ul {
	list-style: none;
	padding-top: 60px;
	padding-left: 180px;
	margin-top: 0px;
}

#nav ul li {
	display: inline;
	letter-spacing: 10px;
	padding: 20px;
	text-transform: uppercase;
}

#nav ul li a {
	text-decoration: none;
	font-size: 25px;
	color: #000000;
}

#nav ul li a:hover {
	text-decoration: underline;
	color: red;
}
 
#content {
	width: 70%; height: 1000px;
	padding-top: 80px; padding-left: 55px;
	margin-left: 110px;
}

#footer {
	width: 100%;
	height: 146px;
	border-top: 3px solid #F2F4F4;
	max-width: 1400px;
	margin: 0px 250px;
	clear: both;
}

#home {
	float: right; margin-top: 14px;
	margin-right: 20%;
}

#home a {
	font-size: 18px; color: white;
	text-decoration: none;
	cursor: pointer;
}

#header #logo {
	width: 100px; height: 50px;
	cursor: pointer; margin-left: 17%;
}



/* 관리자 메인 페이지 */
.tabpane {
	width: 45%; height: 28%;
	margin-left: 150px; margin-bottom: 40px;
	margin-right: 0px; float: left;
}

.tab-pane {
	padding: 20px 15px;
}

#mainNotice {
	width: 100%; height: 100px;
}

#visitant {
	float: right;
	width: 25%; height: 28%;
	margin-right: 10%; padding: 45px 60px;
}
#visitant table tr td {
	font-size: 20px; padding-bottom: 20px;
	
}
#chart_div1 {
	clear: both;
}

/* 공지사항 리스트 */
.list {
	margin-left: 80px;
}

#content .notice {
	width: 100%; height: 500px;
	margin-left: 100px;
}

#content table th, #content table td {
	padding: 5px;
}

#content table td a {
	text-decoration: none;
	color: #000000;
}

#content #noticeBtn1 {
	width: 96%;
	text-align: right;
	margin-top: 50px;
	margin-left: 100px;
}

#noticePage {
	width: 100%; margin-top: 70px;
	margin-left: 100px;
}

.paginate {
	width:100%; height:20px; text-align:center; 
	vertical-align:top; font-size:14px;
}  

.paginate span .textAn {
	vertical-align:top;
}  

.paginate a.on {
	color:#FF3300;
} 

/* 글쓰기 폼 */
#noticeWrite {
	width:70%; padding:0px; border:1px solid #000000;
    border-bottom:0px; border-left:0px;
    margin-left: 200px; 
}

#noticeWrite td {
	padding:5px; border-bottom:1px solid #000000;
    border-left:1px solid #000000;
}

#content #noticeBtn {
	width: 100%; text-align: right; margin-top: 15px;
}

/* 수정 폼 및 상세 페이지*/

#noticeDetail table {
	width:70%; padding:0px; border:1px solid #000000;
    margin-left: 200px;
}

#noticeDetail td {
	padding:5px; border-bottom:1px solid #000000;
    border-left:1px solid #000000;
}

#content #noticeBtn2 {
	width: 85%; text-align: right; margin-top: 50px;
}

.ac {
	text-align:center; background-color: #ebebeb; font-weight:bold;
} 

#noticeDetail .ctr{
	height:150px; vertical-align:top;
} 