@CHARSET "utf-8"; 

/* 공통 부분 */
body {
	margin: 0px;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #000000;
}

#nav {
	width: 100%;
	height: 146px;
	border-bottom: 3px solid #F2F4F4;
	max-width: 1250px;
	margin: 0px 180px;
}

#nav ul {
	list-style: none;
	padding-top: 60px;
	padding-left: 180px;
	margin-top: 0px;
}

#nav ul li {
	display: inline;
	letter-spacing: 10px;
	padding: 20px;
	text-transform: uppercase;
}

#nav ul li a {
	text-decoration: none;
	font-size: 25px;
	color: #000000;
}

#nav ul li a:hover {
	text-decoration: underline;
	color: red;
}
 
#content {
	width: 70%; height: 1200px;
	padding-top: 80px; padding-left: 80px;
	margin-left: 150px;
}

#footer {
	width: 100%;
	height: 146px;
	border-top: 3px solid #F2F4F4;
	max-width: 1400px;
	margin: 0px 250px;
	clear: both;
}

#home {
	float: right; margin-top: 14px;
	margin-right: 20%;
}

#home a {
	font-size: 18px; color: white;
	text-decoration: none;
	cursor: pointer;
}

#header #logo {
	width: 100px; height: 50px;
	cursor: pointer; margin-left: 17%;
}

#split input[type="radio"] {
	display: none;
}

#split input:nth-of-type(1):checked ~ 
label:nth-of-type(1), #split input:nth-of-type(2):checked ~ 
label:nth-of-type(2), #split input:nth-of-type(3):checked ~ 
label:nth-of-type(3), #split>label:hover {
	background: #0090d2;
    color: #fff;
    border-bottom: 1px solid #1e90ff;
    cursor: pointer;
}

#split>label {
    display: inline-block; font-variant: small-caps;
    font-size: .9em; padding: 5px;
    text-align: center; width: 110px;
    line-height: 1.8em; font-weight: 700;
    border-radius: 3px; background: #e1e1e1;
    color: #777; border-bottom: 1px solid #ccc;
}

#split input:nth-of-type(1), #split input:nth-of-type(1) ~ div:nth-of-type(1),
#split input:nth-of-type(2), #split input:nth-of-type(2) ~ div:nth-of-type(2),
#split input:nth-of-type(3), #split input:nth-of-type(3) ~ div:nth-of-type(3) {
    display:none;
}
#split input:nth-of-type(1):checked ~ div:nth-of-type(1),
#split input:nth-of-type(2):checked ~ div:nth-of-type(2),
#split input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display:block;
}
 