@CHARSET "UTF-8";
#intro {
	margin-top: 200px;
	margin-left: 30px;
	margin-bottom: 8%;
	margin-left: 30px;
}

#content {
	width: 580px;
	height: 500px;
	border: 2px #D5D5D5 solid;
}

#wrap {
	padding-left: 10%;
}