@CHARSET "UTF-8";
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, table, thead, tbody, tr, th, td {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.mypage_lnb {
	list-style: none;
}

.mypageAside {
	width: 20%;
	display: inline-block;
	float: left;
}

.myPageContent {
	float: left;
}

.mypage_title {
	margin: 100px 0 20px;
	height: 36px;
	background: url(/resources/include/img/lnb_tit.gif) no-repeat left
		bottom;
	font-size: 22px;
	color: #272727;
}

.mypage_lnb li {
	margin-top: 6px;
}